@model IQueryable<Pet>
@{
    ViewData[ "Title" ] = "Get A Pet!";
}

@foreach ( var pet in Model ?? Enumerable.Empty<Pet>() )
{
    <div>
        <h2>@pet.Name</h2>
        <h3>@pet.Breed</h3>
        <h3>@pet.Color</h3>
        <h3>@pet.Notes</h3>
        <h4>@pet.Price.ToString("C")</h4>
    </div>
}